* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
.main {
    background-image: url("ass/bg.jpg");
    height: 70vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);
}

.main .box {
    background-color: black;
    opacity: 0.54;
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 0;
}
nav {
    max-width: 60vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

nav img {
    color: red;
    width: 144px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;

}

.hero {
    height: calc(100% - 122px);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 15px;
    padding: 30px;
}

.hero> :first-child {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}


.hero> :nth-child(2){
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.hero> :nth-child(3){
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.separation {
    height: 7px;
    position: relative;
    z-index: 100;
    background-color: rgba(128, 128, 128, 0.514);
}
.btn {
    font-weight: bold;
    background-color: rgba(179, 159, 159, 0.568);
    padding: 3px 8px;
    color: white;
    border-radius: 15px;
}

.btn-red-sm {
     background-color: red;
     color: white;
     /* border-radius: px; */
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
}

.main input {
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    color: white;
    background-color: rgba(23, 23, 23, 0.2);
    border: 2px solid rgba(240, 234, 224,0.5);
}

.hero-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.allmedia {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
}
.secImg {
    position: relative;
    top: 20px;
}
.secImg img {
    max-width: 30vw;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 55px;
    left: 50px;
    width: 23vw;
}

section.allmedia >div {
    display: flex;
    flex-direction: column;
}

section.allmedia > div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

section.allmedia > div :nth-child(2) {
    font-size: 24px;
}

section.first.secImg img {
    position: relative;
    top: -10px;
}

section.second.secImg img {
    position: relative;
    top: -40px;
}

section.third.secImg video {
    position: absolute;
    top: 42px;
    left: 40px;
    width: 25vw;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    transition: all 1s ease-out;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 34px auto;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .questions {
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}



/* @media screen and (max-width: 1300px) {

    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .footer-item{
        align-items: center;
    }
 

}



@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
} */


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

